/* Estilos base para el botón */
.back-button {
    background-color: #505050;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin: 2rem;
    transition: background-color 0.3s ease;
    display: inline-flex;
    text-align: center;
  }
  
  /* Efecto hover */
  .back-button:hover {
    background-color: #177427;
  }
  
  /* Estilos responsive */
  @media (max-width: 768px) {
    .back-button {
      font-size: 0.9rem;
      padding: 8px 16px;
    }
  }
  
  @media (max-width: 480px) {
    .back-button {
      font-size: 0.8rem;
      padding: 6px 12px;
    }
  }