.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #ffffff34;
    padding: 1rem;
  }
  
  .quiero-cotizar-button {height: 50%;
    width:100%;
    max-width:80%;
    height: 50%;
    min-height: 10px;
    background: linear-gradient(to right, #0ac457, #05c545);
    color: white;
    font-size: 1.25rem;
    font-weight: 800;
    border: none;
    border-radius: 20;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .quiero-cotizar-button:hover {
    background: linear-gradient(to right, #034614, #1e8a30);
    transform: scale(1.05);
  }
  
  .quiero-cotizar-button:active {
    transform: scale(0.95);
  }
  