/* Importar la fuente Montserrat desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body {
  margin: 0;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6, p, a, button, input, textarea {
  font-family: 'Montserrat', sans-serif;
}
